html, body {
  background-color: #FEFEFE;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 0;
  padding-top: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

a {
  text-decoration: none;
}

.scroll-btn {
  bottom: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  padding: 8px;
  color: #FFF;
  background-color: #C89260;
  box-shadow: 0px 0px 8px #AAA;
  display: none;
  position: fixed;
  cursor: pointer;
  z-index: 2;
}

.scroll-btn:hover {
  background-color: #C27D3D;
}

.arrow {
  width: 25px;
  height: 17px;
  top: 13px;
  left: 10px;
  position: absolute;
}

.logo {
  top: 0px;
  left: 20px;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: #111 !important;
  font-family: 'Damion', cursive;
  font-size: 32px;
  position: absolute;
}

.nav {
  width: 100%;
  height: 70px;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #DDD;
  box-shadow: 0px 2px 8px #AAA;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
}

.link {
  padding: 0px 24px;
  height: 100%;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Landing.js */

#landing {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  padding: 0px;
  text-align: center;
  background-color: #DDD;
  /*position: absolute;*/
}

.landingImg {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  object-fit: cover;
  object-position: 0px 55%;
  filter: brightness(0.9)
}

.intro {
  width: 620px;
  height: 210px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -520px;
  text-align: left;
  position: absolute;
  z-index: 1;
}

.profile {
  width: 200px;
  height: 200px;
  top: 0px;
  left: 0px;
  border-radius: 150px;
  border: 4px solid #6096C8;
  box-shadow: 0px 0px 8px #999;
  position: absolute;
}

.profile:hover {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

.text-sect {
  width: 500px;
  top: 8px;
  left: 270px;
  position: absolute;
}

.title {
  font-size: 56px;
  font-weight: bold;
  font-family: 'IBM Plex Serif', serif;
  color: #FFF;
  text-shadow: 0px 0px 8px #888;
}

.subtitle {
  margin-top: 12px;
  font-size: 24px;
  color: #FFF;
  text-shadow: 0px 0px 8px #888;
}

/* About.js */

#about {
  width: 100%;
  height: auto;
  /*height: calc(175% - 70px);
  top: 100vh;*/
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*position: absolute;*/
  overflow: auto;
}

.blurb {
  width: 100%;
  justify-self: start;
  color: #FFF;
  background-color: #6096C8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blurb-title {
  color: #FFF;
  margin: 32px 0px 12px 0px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 4vh;
  font-family: 'IBM Plex Serif', serif;
}

.blurb-body {
  width: 50%;
  margin-bottom: 32px;
}

.abt-wrapper {
  width: 100%;
  height: 100%;
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comp-body {
  height: 100%;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comp-sect {
  width: 100%;
  padding: 16px;
}

.comp-title {
  color: #777;
  font-size: 3.5vh;
  font-family: 'IBM Plex Serif', serif;
  margin-left: 4.5vh;
  margin-bottom: 8px;
}

.comp-subtitle {
  color: #6096C8;
  font-size: 3vh;
  font-style: italic;
  font-family: 'IBM Plex Serif', serif;
  margin-left: 8px;
}

.date {
  width: 13vh;
  margin: 2vh 2vh 0vh 0vh;
  color: #555;
  font-size: 2vh;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  float: left;
}

.comp-desc {
  margin-left: 22vh;
  padding: 16px 0px 0px 36px;
  color: #555;
  border-top: 2px solid #999;
}

.comp-logo {
  height: 9vh;
  margin-right: 16px;
  border-radius: 50px;
  border: 2px solid #999;
  vertical-align: top;
  float: left;
}

.skills-body {
  width: 60%;
  height: 100%;
  padding: 12px;
  margin: 0px 0px 0px 24px;
  background-color: #FFF;
  border: 1px solid #AAA;
  border-radius: 30px;
  color: #555;
  display: flex;
  flex-direction: row;
}

.skills-head {
  color: #C27D3D;
  font-family: 'IBM Plex Serif', serif;
  font-size: 3.5vh;
  margin-bottom: 8px;
}

.skills-subhead {
  color: #777;
  font-family: 'IBM Plex Serif', serif;
  font-size: 2.7vh;
}

.lang-sect {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.divider {
  border-left: 1px solid #DDD;
}

.spacer {
  margin-left: 2vh;
}

/* Projects.js */

#projects {
  width: 100%;
  height: auto;
  /*height: calc(175% - 70px);
  top: 265vh;*/
  background-color: #D6E4F1;
  padding: 16px 0px 24px 0px;
  display: grid;
  grid-template-rows: 10% 88%;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  /*position: absolute;*/
}

.header {
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #555;
  font-weight: bold;
  font-size: 5vh;
  font-family: 'IBM Plex Serif', serif;
}

.proj-wrapper {
  height: auto;
  width: 100%;
  margin: 24px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-content: center;
  align-items: center;
}

.proj {
  background-color: #FFF;
  width: 70%;
  height: auto;
  margin: 20px;
  align-self: start;
  border: 1px solid #AAA;
  border-radius: 20px;
  overflow: auto;
}

.proj-1 {
  justify-self: end;
  margin-right: 24px;
}

.proj-2 {
  justify-self: start;
  margin-left: 24px;
}

.proj-name {
  width: 100%;
  color: #FFF;
  font-weight: bold;
  font-size: 3vh;
  padding: 12px 12px 12px 18px;
  background-color: #6096C8;
  border-bottom: 1px solid #AAA;
  overflow: auto;
}

.proj-body {
  padding: 20px;
  font-size: 2.3vh;
  color: #555;
  overflow: auto;
}

.proj-subhead {
  color: #C27D3D;
  font-weight: bold;
}

.gh-view {
  width: calc(100%-16px);
  padding: 8px;
  text-align: center;
  border-radius: 10px;
}

.gh-view a {
  color: #6096C8;
  font-weight: bold;
  font-style: none;
}

.tech-list {
  margin: 4px 0px;
}

.tech {
  width: 3vh;
  margin: 4px 8px 4px 2px;
  vertical-align: middle;
}

/* Portfolio.js */

#portfolio {
  width: 100%;
  height: auto;
  /*height: calc(100% - 70px);*/
  padding: 24px 0px;
  /*top: 430vh;*/
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*position: absolute;*/
}

.slide-deck {
  width: 90%;
  height: 100%;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  width: 60%;
  height: 100%;
  background-color: #FFF;
  border: 1px solid #AAA;
  border-radius: 30px;
  color: #555;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.slideImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-arrow {
  height: 6vh;
  cursor: pointer;
}

.l-arrow {
  margin-right: 3vw;
}

.r-arrow {
  margin-left: 3vw;
}

.tracker {
  width: 60%;
  height: 4vh;
  text-align: center;
}

.dot {
  width: 2vh;
  height: 2vh;
  margin: 0px 8px;
  background-color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

/* Contact.js */

#contact {
  width: 100%;
  height: auto;
  /*height: calc(100% - 70px);*/
  /*top: 520vh;*/
  background-color: #D6E4F1;
  display: flex;
  justify-content: center;
  overflow: auto;
  /*position: absolute;*/
}

.contact-wrap {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: auto;
  padding: 0px 0px 24px 0px;
}

.lh-side {
  height: 100%;
  overflow-y: auto;
  text-align: center;
  position: relative;
}

.lh-side a {
  color: #FFF;
  font-weight: bold;
}

.resume {
  margin-top: 7%;
  width: 95%;
  border: 1px solid #555;
  display: inline-block;
  position: relative;
}

.open-msg {
  width: 13vh;
  height: 13vh;
  top: 5%;
  left: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.rh-side {
  margin-left: 16px;
  display: grid;
  grid-template-rows: 15% 30% 20% 10%;
  align-items: center;
  justify-content: center;
}

.contact-msg {
  font-family: 'IBM Plex Serif', serif;
  color: #9ABDDE;
  line-height: 12vh;
  font-size: 12vh;
  font-weight: bold;
}

.dl-btn {
  width: 150px;
  height: 24px;
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  background-color: #D4A377;
  border: 2px solid #FFF;
}

.dl-btn:hover {
  background-color: #C89260;
}

.icon-bar {
  width: 50%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
}

.icon {
  width: 7vh;
  height: 7vh;
}

.icon-small {
  width: 7.5vh;
  height: 7.5vh;
}