html, body {
  background-color: #FEFEFE;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 0;
  padding-top: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

a {
  text-decoration: none;
}

.scroll-btn {
  bottom: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  padding: 8px;
  color: #FFF;
  background-color: #C89260;
  box-shadow: 0px 0px 8px #AAA;
  display: none;
  position: fixed;
  cursor: pointer;
  z-index: 2;
}

.scroll-btn:hover {
  background-color: #C27D3D;
}

.arrow {
  width: 25px;
  height: 17px;
  top: 13px;
  left: 10px;
  position: absolute;
}

.logo {
  top: 0px;
  left: 20px;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: #111 !important;
  font-family: 'Damion', cursive;
  font-size: 32px;
  position: absolute;
}

.nav {
  width: 100%;
  height: 70px;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #DDD;
  box-shadow: 0px 2px 8px #AAA;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
}

.link {
  padding: 0px 24px;
  height: 100%;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Landing.js */

#landing {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  padding: 0px;
  text-align: center;
  background-color: #DDD;
  box-shadow: 0px 4px 8px #AAA;
  position: absolute;
}

.landingImg {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  object-fit: cover;
  object-position: 0px 55%;
  filter: brightness(0.9)
}

.intro {
  width: 620px;
  height: 210px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -520px;
  text-align: left;
  position: absolute;
  z-index: 1;
}

.profile {
  width: 200px;
  height: 200px;
  top: 0px;
  left: 0px;
  border-radius: 150px;
  border: 4px solid #6096C8;
  box-shadow: 0px 0px 8px #999;
  position: absolute;
}

.profile:hover {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

.text-sect {
  width: 500px;
  top: 8px;
  left: 270px;
  position: absolute;
}

.title {
  font-size: 56px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0px 0px 8px #888;
}

.subtitle {
  margin-top: 12px;
  font-size: 24px;
  color: #FFF;
  text-shadow: 0px 0px 8px #888;
}

/* About.js */

#about {
  width: 100%;
  height: calc(100% - 70px);
  top: 100vh;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: absolute;
}

.abt-wrapper {
  background-color: #FFF;
  width: 70%;
  height: 85%;
  border: 1px solid #AAA;
  border-radius: 30px;
  box-shadow: 6px 6px 2px #DDD;
  overflow: auto;
  position: absolute;
}

/* Projects.js */

#projects {
  width: 100%;
  height: calc(100% - 70px);
  top: 190vh;
  background-color: #D6E4F1;
  box-shadow: 0px -4px 8px #BBB, 0px 4px 8px #BBB;
  display: grid;
  grid-template-rows: 12% 88%;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: absolute;
}

.proj-header {
  align-self: end;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #555;
  font-weight: bold;
  font-size: 5vh;
}

.proj-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}

.proj {
  background-color: #FFF;
  width: 70%;
  height: 90%;
  border: 1px solid #AAA;
  border-radius: 20px;
  overflow: auto;
}

.proj-1 {
  justify-self: end;
  margin-right: 24px;
}

.proj-2 {
  justify-self: start;
  margin-left: 24px;
}

.proj-name {
  width: 100%;
  height: 5%;
  color: #FFF;
  font-weight: bold;
  font-size: 3vh;
  padding: 12px 12px 12px 18px;
  background-color: #6096C8;
  border-bottom: 1px solid #AAA;
  overflow: auto;
}

.proj-body {
  padding: 20px;
  font-size: 2.5vh;
  color: #555;
  overflow: auto;
}

.proj-subhead {
  color: #C27D3D;
  font-weight: bold;
}

.tech-list {
  margin: 4px 0px;
}

.tech {
  width: 3vh;
  margin: 4px 8px 4px 2px;
  vertical-align: middle;
}

/* Portfolio.js */

#portfolio {
  width: 100%;
  height: calc(100% - 70px);
  top: 280vh;
  background-color: none;
  position: absolute;
}

/* Contact.js */

#contact {
  width: 100%;
  height: calc(100% - 70px);
  top: 370vh;
  background-color: #D6E4F1;
  box-shadow: 0px -4px 8px #BBB;
  display: flex;
  justify-content: center;
  overflow: auto;
  position: absolute;
}

.contact-wrap {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: auto;
  position: absolute;
}

.lh-side {
  height: 100%;
  overflow-y: auto;
  text-align: center;
}

.lh-side a {
  color: #FFF;
  font-weight: bold;
}

.resume {
  margin-top: 7%;
  height: 90%;
  border: 1px solid #555;
  display: inline-block;
}

.open-msg {
  top: 8%;
  left: 5%;
  width: 13vh;
  height: 13vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.rh-side {
  margin-left: 16px;
  display: grid;
  grid-template-rows: 15% 30% 20% 10%;
  align-items: center;
  justify-content: center;
}

.contact-msg {
  color: #9ABDDE;
  line-height: 12vh;
  font-size: 12vh;
  font-weight: bold;
}

.dl-btn {
  width: 150px;
  height: 24px;
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  background-color: #D4A377;
  border: 2px solid #FFF;
}

.dl-btn:hover {
  background-color: #C89260;
}

.icon-bar {
  width: 50%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
}

.icon {
  width: 7vh;
  height: 7vh;
}

.icon-small {
  width: 7.5vh;
  height: 7.5vh;
}