html, body {
  background-color: #FEFEFE;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 0;
  padding-top: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

a {
  text-decoration: none;
}

.scroll-btn {
  bottom: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  padding: 8px;
  color: #FFF;
  background-color: #10CACA;
  box-shadow: 0px 0px 8px #AAA;
  display: none;
  position: fixed;
  cursor: pointer;
  z-index: 2;
}

.scroll-btn:hover {
  background-color: #0EB3B3;
}

.arrow {
  width: 25px;
  height: 17px;
  top: 13px;
  left: 10px;
  position: absolute;
}

.logo {
  top: 0px;
  left: 20px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #111 !important;
  font-family: 'Damion', cursive;
  font-size: 2rem;
  position: absolute;
}

.nav {
  width: 100%;
  height: 60px;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #DDD;
  box-shadow: 0px 1px 6px #AAA;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
}

.link {
  padding: 0px 24px;
  height: 100%;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Landing.js */

#landing {
  width: 100%;
  height: calc(100vh - 4vmin);
  margin-top: 0px;
  padding: 0px;
  text-align: center;
  background-color: #FFF;
  border-top: 4vmin solid #10CACA;
  display: grid;
  grid-template-rows: 55% 45%;
  justify-content: center;
}

.landingImg {
  height: 85%;
  margin: 0 auto;
  align-self: end;
}

.intro {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: left;
  align-self: end;
  z-index: 1;
}

.profile {
  width: 28vmin;
  height: 28vmin;
  float: left;
  margin-right: 8vmin;
  border-radius: 150px;
  border: 6px solid #10CACA;
}

.profile:hover {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

.text-sect {
  /*margin-top: 5vmin;*/
  float: left;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: 'IBM Plex Serif', serif;
  color: #10CACA;
}

.subtitle {
  margin-top: 12px;
  font-size: 1.75rem;
  color: #111;
}

/* About.js */

#about {
  width: 100%;
  height: auto;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.blurb {
  width: 100%;
  justify-self: start;
  color: #FFF;
  background-color: #10CACA;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blurb-title {
  color: #FFF;
  margin: 32px 0px 12px 0px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.75rem;
  font-family: 'IBM Plex Serif', serif;
}

.blurb-body {
  width: 50%;
  margin-bottom: 32px;
}

.abt-wrapper {
  width: 100%;
  height: 100%;
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comp-body {
  height: 100%;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comp-sect {
  width: 90%;
  padding: 16px;
}

.comp-info {
  float: left;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;    
}

.comp-title {
  color: #333;
  font-size: 1.5rem;
  font-family: 'IBM Plex Serif', serif;
  margin-left: 6vmin;
}

.comp-subtitle {
  color: #10CACA;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

.date {
  color: #10CACA;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
}

.comp-desc {
  margin-left: 10.5vmin;
  padding: 16px 0px 0px 36px;
  color: #333;
}

.comp-logo {
  height: 11vmin;
  margin-right: 4vmin;
  border-radius: 20px;
  border: 2px solid #333;
  vertical-align: top;
  float: left;
}

.skills-body {
  width: 60%;
  height: 100%;
  padding: 12px;
  margin: 0px 0px 0px 24px;
  background-color: #FFF;
  border: 1px solid #333;
  border-radius: 30px;
  color: #333;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.skills-head {
  color: #333;
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.skills-subhead {
  color: #0EB3B3;
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.2rem;
}

.lang-sect {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.tech-sect {
  width: calc(100% - 32px);
  padding: 16px;
}

.divider {
  border-left: 1px solid #10CACA;
}

.spacer {
  margin-left: 2vh;
}

/* Projects.js */

#projects {
  width: 100%;
  height: auto;
  padding: 24px 0px;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.header {
  margin-top: 8px;
  align-self: center;
  text-align: center;
  letter-spacing: 1px;
  color: #111;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'IBM Plex Serif', serif;
}

.proj-wrapper {
  height: auto;
  width: 100%;
  margin: 24px 0px 0px 0px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.proj {
  width: 70%;
  height: auto;
  margin: 20px 0px;
  align-self: start;
  justify-self: center;
  overflow: auto;
}

.proj-img {
  height: 32vmin;
  margin-right: 4vmin;
  border-radius: 20px;
  border: 2px solid #333;
  vertical-align: top;
  float: left;
}

.proj-name {
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'IBM Plex Serif', serif;
  overflow: auto;
}

.proj-body {
  padding: 20px 0px 0px 0px;
  font-size: 1rem;
  color: #555;
  overflow: auto;
}

.proj-subhead {
  color: #0EB3B3;
  font-weight: bold;
}

.gh-view {
  padding: 0px 0px 8px 0px;
}

.gh-view a {
  color: #0EB3B3;
  font-weight: bold;
  font-style: none;
}

.tech-list {
  margin: 4px 0px;
}

.tech {
  width: 1.25rem;
  margin: 4px 8px 4px 2px;
  vertical-align: middle;
}

.skill-tech {
  width: 1.5vw;
  margin: 4px 8px 4px 2px;
  vertical-align: middle;
}

/* Portfolio.js */

#portfolio {
  width: 100%;
  height: auto;
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-deck {
  width: 90%;
  height: 100%;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide-info {
  width: 60%;
  height: auto;
  top: 0px;
  padding: 16px 0px;
  margin-left: 1px;
  color: #444;
}

.slide {
  width: 60%;
  height: 100%;
  position: relative;
  display: none;
  transition: .6 ease;
}

.slide:hover {
  cursor: pointer;
}

.slideImg {
  width: 100%;
  height: 100%;
  border: 1px solid #AAA;
  border-radius: 30px;
  object-fit: cover;
}

.slide-arrow {
  height: 6vh;
  cursor: pointer;
}

.slide-arrow:hover {
  opacity: 0.5;
  transition: opacity .2s ease-in-out;
}

.l-arrow {
  margin-right: 3vw;
}

.r-arrow {
  margin-left: 3vw;
}

.tracker {
  width: 60%;
  height: 4vh;
  text-align: center;
}

.dot {
  width: 2vh;
  height: 2vh;
  margin: 0px 8px;
  background-color: #FFF;
  border: 1px solid #999;
  border-radius: 1vh;
  display: inline-block;
  cursor: pointer;
  transition: .3s ease;
}

.dot:hover {
  background-color: #999;
  border: 1px solid #999;
}

.active-dot {
  background-color: #555;
  border: 1px solid #555;
}

.lightbox {
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.8);
  z-index: 3;
  overflow: auto;
  position: fixed;
  align-content: center;
  justify-content: center;
}

.lightbox-content {
  width: 75%;
  margin: auto;
  border: 5px solid #FFF;
}

/* Contact.js */

#contact {
  width: 100%;
  height: auto;
  padding: 24px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.contact-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 0px 0px 24px 0px;
}

.resume-seg {
  width: 50%;
  position: relative;
}

.resume {
  margin-top: 3%;
  width: 100%;
  border: 1px solid #555;
  position: relative;
}

.open-msg {
  width: 13vh;
  height: 13vh;
  top: 5%;
  left: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.contact-msg {
  font-family: 'IBM Plex Serif', serif;
  color: #FFF;
  line-height: 1.75rem;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 2vmin;
}

.dl-btn {
  width: 9vw;
  height: auto;
  padding: 1vmax;
  margin-top: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  background-color: #10CACA;
  border: 2px solid #FFF;
  font-size: 1vw;
}

.dl-btn:hover {
  background-color: #0EB3B3;
}

.icon-bar {
  width: 13%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.icon-small {
  width: 3.25rem;
  height: 3.25rem;
}

.footer {
  width: 100%;
  height: auto;
  padding: 2vmin 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0EB3B3;
}

/* Mobile Optimization */

@media only screen and (max-width: 935px) {
  /* About: Blurb */
  .blurb-body {
    width: 70%;
    margin-bottom: 32px;
  }

  /* About: Skills */
  .skills-body {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  
  .divider {
    border-top: 1px solid #10CACA;
    border-left: 1px solid transparent;
  }
  
  .spacer {
    margin-top: 1vh;
  }
}

@media only screen and (max-width: 800px) {
  html, body {
    font-size: 14px;
  }

  /* About: Companies */    
  .comp-logo {
    float: none;
  }

  /* Projects */
  .proj-img {
    float: none;
    margin-bottom: 4vmin;
  }
}

@media only screen and (max-width: 650px) {
  html, body {
    font-size: 12px;
  }

  .logo {
    display: none;
    overflow: hidden;
    width: 0px;
    height: 0px;
  }

  .nav {
    justify-content: center;
  }

  /* About: Skills */
  .lang-list {
    display: flex;
  }

  .tech-name {
    display: block;
  }
  
  .skill-tech {
    display: none;
    width: 5vmin;
    margin: 2px;
  }

  .lang-subsect {
    padding-top: 12px;
  }
  
  .lang-sect {
    width: 100%;
    display: grid;
    grid-template-columns: none;
  }

  /* Projects */
  .proj-img {
    width: calc(100% - 4px);
    height: auto;
  }

  /* Contact */ 
  .open-msg {
    top: 0%;
  }
  
  .dl-btn {
    letter-spacing: 0px;
    margin-top: 4px;
    align-self: flex-start;
  }

  .icon-bar {
    width: 30%;
    justify-items: center;
    justify-content: center;
    align-content: center;
  }
}

@media only screen and (max-width: 350px) {
  html, body {
    font-size: 10px;
  }

  #landing {
    grid-template-rows: 40% 60%;
  }

  .landingImg {
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-self: end;
  }

  .intro {
    align-self: center;
  }

  .comp-desc {
    margin-left: 1.5vmin;
    padding: 16px 0px 0px 36px;
    color: #333;
  }
}